<li class="dropdown yamm-fw">
    <a ng-href="{{link}}" class="dropdown-toggle" ng-if="!icon">{{title}}</a>
    <a ng-href="{{link}}" class="dropdown-toggle" ng-if="icon">
        <span class="fa" ng-class="icon"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="yamm-content">
                <div ng-transclude></div>
                <div class="row megamenu-all-link" ng-if="link">
                   <a ng-href="{{link}}"> All {{title}}</a>
                </div>
            </div>
        </li>
    </ul>
</li>