<nav class="navbar mega-menu yamm" ng-class="navbar.style" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{link}}" ng-if="!brandImage">{{brand}}</a>
            <a class="navbar-brand" href="{{link}}" ng-if="brandImage">
                <img ng-src="{{brandImage}}" class="img-responsive" alt="{{brand}}" title="{{brand}}" />
            </a>
        </div>

        <div ng-transclude ng-cloak>
        </div>
    </div>
</nav>